
body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    /* -webkit-overflow-scrolling: touch; */
    color: #555;
    background: rgb(250, 214, 220);
    transition: background .5s;
} 


.world{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    transform-style: preserve-3d;
}

.house{
    width:100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;

}

.wall{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background: rgba(255, 255, 255, 0.575)
}

.wall-left{      
    width: 1000vw;    
    transform: rotateY(90deg) translateZ(-500vw);
    background-color: #f8f8f8;
}

.wall-right{    
    width: 1000vw;    
    transform: rotateY(90deg) translateZ(-400vw);
    background-color: #f8f8f8;
}

.wall-front-a{transform: translateZ(300vw);}
.wall-front-b{transform: translateZ(50vw);}
.wall-front-c{transform: translateZ(-200vw);}
.wall-front-d{transform: translateZ(-500vw);}

.wall-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wall-title{
    font-size:5rem;
}

.progress-bar-con{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background-color: #555;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background-color: rgb(149, 222, 255);
}

/*character*/
@keyframes stop {
    to{transform: rotateZ(-10deg) }
    from{transform: rotateZ(10deg) }
}

@keyframes moving {    
    to{transform: translateY(0px) }
    from{transform: translateY(-20px) }
}

.character {
    position: absolute;
    left: 12%;
    bottom:5%;    
    width: 15vw;
    height: 20vw;
    transform-style: preserve-3d;    
}

.character[data-direction='forward'] { transform: rotateY(190deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }

.character-face-con {    
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;    
}

.character-face{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* transform-origin: center  ;     */
}

.character-head {
    left: calc(42 / 856 * 100%);
    top: 0;
    width: 100%;
    height: 100%; 
    transform-origin: center bottom;
    
}

.character-face.face-front{        
    background-image: url('./images2/yl-front.png');
} 

.character-face.face-back{    
    background-image: url('./images2/yl-back.png');      
    transform: rotateY(180deg);         
}

.moving .character-head{
    animation: moving 0.2s infinite alternate cubic-bezier(0.46, 0.18, 0.15, 1.05);  
    
}

.stop .character-head{    
    animation: stop 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93); 
} 

/* 캐릭터 버튼 */
.select-character{
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 10px;
    z-index: 100;
}

.select-character-btn{
    width: 60px;
    height: 60px;
    margin-left:5px;
    border:0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: 0.5;
}

.select-character-btn-yl1{
    background-image: url('./images2/yl-front.png');
    
    
}

.select-character-btn-yl2{
    background-image: url('./images2/yl3.png');    
    opacity: 0.5;
}

body[data-char='yl2'] .select-character-btn-yl2{
    opacity: 1;
}

body[data-char='yl2'] .select-character-btn-yl1{
    opacity: 0.5;
}

body[data-char='yl2'] .character-face.face-front{        
    background-image: url('./images2/yl3.png');
} 

body[data-char='yl2'] .character-face.face-back{    
    background-image: url('./images2/yl2.png');      
    transform: rotateY(180deg);         
}

body[data-char='yl2']{
    background: rgb(255, 166, 115);
}