
body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    /* -webkit-overflow-scrolling: touch; */
    color: #555;
    background: rgb(250, 214, 220);
    transition: background .5s;
} 


.world{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    transform-style: preserve-3d;
}

.house{
    width:100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;

}

.wall{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background: rgba(255, 255, 255, 0.575)
}

.wall-left{      
    width: 1000vw;    
    transform: rotateY(90deg) translateZ(-500vw);
    background-color: #f8f8f8;
}

.wall-right{    
    width: 1000vw;    
    transform: rotateY(90deg) translateZ(-400vw);
    background-color: #f8f8f8;
}

.wall-front-a{transform: translateZ(300vw);}
.wall-front-b{transform: translateZ(50vw);}
.wall-front-c{transform: translateZ(-200vw);}
.wall-front-d{transform: translateZ(-500vw);}

.wall-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wall-title{
    font-size:5rem;
}

.progress-bar-con{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background-color: #555;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background-color: rgb(149, 222, 255);
}