@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  padding: 32px;
  box-sizing: border-box;
}

.container {
  max-width: 350px;
  min-height: 80vh;
  background-color: #fff;
  padding: 16px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: slateblue;
  text-align: center;
}

.line {
  margin: 16px 0px;
  border: 1px dotted #ddd;
}

.lists {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  padding: 16px;
  margin: 8px;
  background-color: aliceblue;
}
