@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  padding: 32px;
  box-sizing: border-box;
}

.Quiz input {
}

.Quiz button {
}

.Quiz div {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Yeon Sung', cursive;
  font-size: 4vw;
}

.main.name {
}
