@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  padding: 32px;
  box-sizing: border-box;
}

.container {
  max-width: 350px;
  min-height: 80vh;
  background-color: #fff;
  padding: 16px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.title {
  color: slateblue;
  text-align: center;
}

.line {
  margin: 16px 0px;
  border: 1px dotted #ddd;
}

.lists {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  padding: 16px;
  margin: 8px;
  background-color: aliceblue;
}

.Quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.Quiz input {
  border-radius: 1em;
  border: none;
  background-color: rgb(230, 230, 230);
  width: 60%;
  height: 30px;
}

.Quiz input::placeholder {
  text-align: center;
}

.Quiz button {
  border: none;
  border-radius: 1em;
  width: 30%;
  height: 30px;
  background-color: pink;
  color: white;
}

.Quiz div {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Yeon Sung', cursive;
  font-size: 1.7rem;
}

.Quiz .name {
  display: inline-block;
  background-color: rgb(255, 255, 107);
  border-radius: 0.5em;
  width: 30%;
  height: 50%;
  text-align: center;
}
